div {
    /* border: cyan solid 1px !important; */
}

body {
    font-family: 'Open Sans';
    color: white;
}


nav {
    background-color: rgb(66, 180, 75);
    ;
    font-size: 14px;
    
    color: #FFFFFF !important;
    transition: top 0.2s ease-in-out;
    min-height: 75px;
  }

  .nav-up {
    top: -80px;
  }
  .navbar-nav a {
    color: rgba(255, 255, 255, 0.8) !important;
  }
  .navbar-nav a:hover{
    color: rgba(255, 255, 255, 0.95) !important;
  }

.custom-toggler.navbar-toggler {
    border-color: transparent;
    cursor: pointer;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: inset 100vw 100vh rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
}

.landing-parallax {
    
    background-position: center;
    box-shadow: inset 100vw 100vh rgba(0, 0, 0, 0.25);
}





.title {
    padding-top: 30vh;
    font-size: 48px;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 600;
}
.indexTitle {
    padding-top: 30vh;
    font-size: 48px;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 600;
}


.subtitle {
    font-size: 32px;
    padding-left: 2%;
    padding-right: 2%;
}

.center-button {
    text-align: center;
    padding-top: 8vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.landing-btn {
    width: 175px;
    border: 1px solid white;
    color: white;
}

.panel-title {
    font-size: 48px;
    padding-top: 25vh;
    text-align: center;
}

.panel-subtitle {
    font-size: 32px;
    padding-top: 5vh;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.panel {
    /* box-shadow: inset 100vw 100vh rgb(42, 179, 87); */
    height: 100vh;
}
.btn{
    border-radius: 0.2rem;
}
.btn-outline-primary {
    border-color: #FFFFFF;
    color: #FFFFFF;
    display: inline-block;
 
  }
  
  .btn-outline-primary:hover {
    color: #FFFFFF;
    background-color: rgb(66, 180, 75);
    border-color: rgb(66, 180, 75);
  }
  
  /* facts and loader */
  #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
  background-image: url("images/logo.png")
  }
  
  .text-center {
    display: block;
  }
  
  .btn{
    font-size: 1rem;
  }
  
  .bottom{
    position: absolute;
    margin-bottom: 0;
  }
 
  .no-margin {
    margin: 0px !important;
  }
  
  
  
  .blackScreen {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  
  
  
  .fact-row{
    padding-top: 30vh;
  
  }
  .fact-row h1 {
    width: 100%;
     text-transform:uppercase;
     font-weight:200;
     
    
  }
  
  .fact{
    text-transform: uppercase;
    font-weight:200;
    
  }
  .mainFact{
    font-weight:800 !important;
    font-size: 72px;
  }
  
  
  .indexNav{
    visibility: hidden;
  }
  
  
  
  .landing {
    padding-top: 15vh;
  }
  
  
  .no-padding {
    padding-right: 0px;
    padding-left: 0px;
    max-height: 100vh;
  }
  

  .first-panel {
    background-attachment: fixed;
    background-size: cover;
    color: #fbfbfb;
    height: 100vh;
  }
  
  .firstFact {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0% 7% 0% 7%;

  
  }
  .hidden{
    visibility: hidden !important;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
  }
  .visible{
    visibility: visible;
  
  }
  
  .secondFact {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    padding: 0% 5% 0% 5%;
  }
  
  .thirdFact {
    height: 100vh;
    padding-top: 10vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    padding: 0% 5% 0% 5%;
  }
  
  .fourthFact {
     visibility: hidden;
  }
  
.center-div{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@media(max-width: 576px) {
    
    body {
        font-family: 'Open Sans';
        font-size: xx-small;
    }
    .title {
        padding-top: 26vh;
        font-size: 36px;
        padding-left: 2%;
        padding-right: 2%;
       
    }
    .indexTitle {
        padding-top: 15vh;
        font-size: 36px;
        padding-left: 2%;
        padding-right: 2%;
       
    }
    .facts{
        padding-left: 2%;
        padding-right: 2%;
    }
    .subtitle {
        font-size: 22px;
    }
    .subtitle .subtitle-2 {
        display: none;
    }
    .center-button {
        padding-top: 10vh;
       
    }
    .index-center-button {
        padding-top: 2vh !important;
       
    }
    .panel-title {
        padding-top: 8vh;
        font-size: 32px;
    }
    .panel-subtitle {
        padding-top: none;
        font-size: 20px;
    }
    .panel {
        height: 100vh;
    }
    .landing-btn{
        font-size: 0.9rem;
        width: 150px;
    }
    .button-col {
        padding: 4px !important;
    }
    div {
        /* border: magenta solid 1px !important; */
    }
    .fact-row{
        padding-top: 50%;
      
      }
      .third-fact-row{
          padding-top:80%;
      }
      .fact-row h1 {
       
         text-transform:uppercase;
         font-weight:200;
             }
      
      .fact{
        text-transform: uppercase;
        font-weight:200;
        font-size: 18px;
        
      }
      .mainFact{
        font-weight:800 !important;
        font-size: 36px;
      }
    
    
}