div {
    /* border: cyan solid 1px !important; */
}

body {
    padding-top: 75px;
    color: white;
}


nav {
    background-color: rgb(66, 180, 75);
    ;
    font-size: 14px;
    
    color: #FFFFFF !important;
    transition: top 0.2s ease-in-out;
    min-height: 75px;
  }

  .nav-up {
    top: -80px;
  }
  .navbar-nav a {
    color: rgba(255, 255, 255, 0.8) !important;
  }
  .navbar-nav a:hover{
    color: rgba(255, 255, 255, 0.95) !important;
  }

.custom-toggler.navbar-toggler {
    border-color: transparent;
    cursor: pointer;
}

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: inset 100vw 100vh rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
}

.landing-parallax {
    
    background-position: center;
    box-shadow: inset 100vw 100vh rgba(0, 0, 0, 0.25);
}





.title {
    padding-top: 24vh;
    font-size: 48px;
}

.subtitle {
    font-size: 32px;
}

.center-button {
    text-align: center;
    padding-top: 8vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
}

.landing-btn {
    width: 150px;
    border: 1px solid white;
    color: white;
}

.panel-title {
    font-size: 48px;
    padding-top: 25vh;
    text-align: center;
}

.panel-subtitle {
    font-size: 32px;
    padding-top: 5vh;
    text-align: center;
}

.panel {
    /* box-shadow: inset 100vw 100vh rgb(42, 179, 87); */
    height: 100vh;
}
.btn-outline-primary {
    border-color: #F1F2E2;
    color: #F1F2E2;
    display: inline-block;
 
  }
  
  .btn-outline-primary:hover {
    color: #F1F2E2;
    background-color: rgb(66, 180, 75);
    border-color: rgb(66, 180, 75);
  }
  


@media(max-width: 576px) {
    body {
        padding-top: 75px;
    }
    .title {
        padding-top: 5vh;
        font-size: 36px;
    }
    .subtitle {
        font-size: 24px;
    }
    .subtitle .subtitle-2 {
        display: none;
    }
    .center-button {
        padding-top: 15px;
    }
    .panel-title {
        padding-top: 8vh;
        font-size: 32px;
    }
    .panel-subtitle {
        padding-top: none;
        font-size: 24px;
    }
    .panel {
        height: 75vh;
    }
    .button-col {
        padding: 7px !important;
    }
    div {
        /* border: magenta solid 1px !important; */
    }
}