
  nav{
     background-color: #aedd31; 
    

  }
  .big-fact{
    font-size: 90px;
    padding: 10%;
  
  }
.header-row{
  padding-top: 30vh;
}
#first-panel-text{
  padding-top: 5%;
  padding-bottom: 5%;
}
.btn-outline-primary{
  margin-top: 10%;
}
.button-row{

  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 30vh;
}

.respect-wrapper{
  
  height: 100vh;
  background-color: #fbfbfb;
  
}
.responsibility-wrapper{
  height: 100vh;
 
}
.purpose-wrapper{
  
  height: 100vh;
  background-color: #fbfbfb;
}
.our-contribution-wrapper{
  padding: 10%;
  height:100vh;
  background-color: #adb;
}
.castv-about-us-wrapper{
  padding: 10%;
  height:100vh;
  background-color: #fbfbfb;
}
.cas-tv-gallery-wrapper{
  
  background-color: #fbfbfb;
}
.what-can-you-do-wrapper{
  padding: 10%;
  height:50vh;
  background-color: #fbfbfb;
}
.footer{
  height: 10vh;
  background-color:#aedd31; 
}
.btn-primary{
  background-color: #4cc0a0;
  border-color: #4cc0a0;

  
}
.btn-primary:hover{
  background-color: #399179;
  border-color: #399179;
}
.title{
  color: white;
  font-size: xx-large;
  font-variant: bold;
  
}
.main-btn{
  font-family: 'Roboto','Open Sans';
  font-size: 250%;
}