/* Colour Palette
#F1F2E2 - Light Shades (text/background)
#85A38B - Light accent
#3FC380 - Main colour
#7F6E5A - Dark accent
#2C2F32 - dark shade (text/background) 

DARK TEXT/LIGHT BACKGROUND
background-color: #F1F2E2;
  color:#2C2F32;

  LIGHT TEXT/DARK BACKGROUND
background-color: #2C2F32;
  color:#F1F2E2;


3FC380

*/

.text-center {
  display: block;
}

.rotated {
  transform: rotate(90deg);
}

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

nav {
  background-color: rgb(66, 180, 75);
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  transition: top 0.2s ease-in-out;
  min-height: 80px;
}

.nav-up {
  top: -80px;
}

.no-margin {
  margin: 0px !important;
}

body {
  font-family: 'Open Sans';
  color: #F1F2E2;
  background-color: #2C2F32;
}

.dark-overlay {
  background-color: rgba(21, 21, 22, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blackScreen {
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fashionContribution {
  background-size: contain !important;
}

.header-row {
  padding-top: 30vh;
}


.header-row h1 {
  width: 100%;
  font-size: 48px;
  text-transform: uppercase;
  padding-bottom: 5vh;
}

.row {
  box-sizing: border-box;
  margin: 0;
}
.indexNav{
  visibility: hidden;
}
.fact{
  text-transform: uppercase;
}
.team-row {
  padding-top: 15vh;
  padding-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 48px;
  text-transform: uppercase;
  padding-bottom: 5vh;
}

#first-panel-text {
  padding-bottom: 5%;
  font-size: 24.5px;
}

.team-column {
  height: 100vh;
  max-height: 100vh;
}

.landing {
  padding-top: 15vh;
}

/* .btn-outline-primary{
 border-color: #3FC380;
color: #3FC380;
display:inline-block;
width:200px;
padding: 15px;
text-transform: uppercase;
border-radius:0;

.btn-outline-primary {
  border-color: #3FC380;
  color: #3FC380;
  display: inline-block;
  width: 200px;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-outline-primary:hover {
  color: #F1F2E2;
  background-color: #3FC380;
  border-color: #3FC380;

} */

.btn-outline-primary {
  border-color: #F1F2E2;
  color: #F1F2E2;
  display: inline-block;
  width: 200px;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-outline-primary:hover {
  color: #F1F2E2;
  background-color: rgb(66, 180, 75);
  border-color: rgb(66, 180, 75);
}

.button-row {
  padding-top: 5vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30vh;
  opacity: 1;
}

.index-button-row {
  padding-top: 0px !important;
  padding-left: 15%;
  padding-right: 15%;
}

.no-padding {
  padding-right: 0px;
  padding-left: 0px;
  max-height: 100vh;
}

.lightBackground {
  height: 100vh;
  background-color: #F1F2E2;
  color: #2C2F32;
}

.darkBackground {
  color: #F1F2E2;
  background-color: #2C2F32;
  height: 100vh;
}

.footer {
  height: 5vh;
  background-color: #2C2F32;
  padding-top: 5px;
}

.footer span {
  font-size: 11px;
  color: #F1F2E2;
  display: inline-block;
  text-transform: uppercase;
}

.profile-image {
  border-radius: 50%;
  max-height: 15vh;
  align-content: center;
  display: inline-block;
}

.name {
  padding-top: 3vh;
  text-align: center;
  font-size: 22px;
}

.first-panel {
  background-attachment: fixed;
  background-size: cover;
  color: #fbfbfb;
  height: 100vh;
}

.threadsWYCD {
  background-size: contain !important;
}

.mainWrapper {
  position: relative;
}

.first-image {
  background-attachment: scroll !important;
  height: 100vh;
  background-size: auto auto;
  background-position: right;
  background-color: #ffffff;
  color: #F1F2E2;
  background-repeat: no-repeat;
}

.firstFact {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

}
.hidden{
  visibility: hidden !important;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
.visible{
  visibility: visible;

}


.secondFact {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.thirdFact {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.fourthFact {
   visibility: hidden;
}

.col-image {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  background-color: #ffffff;
  color: #F1F2E2;
}

.a {
  background-size: auto 100% !important;
}

.image-row {
  padding-left: 10vw;
  padding-right: 10vw;
}

.carousel-item {
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.custom-toggler.navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}