/* Colour Palette
#F1F2E2 - Light Shades (text/background)
#85A38B - Light accent
#7AC142 - Main colour
#7F6E5A - Dark accent
#2C2F32 - dark shade (text/background) 

DARK TEXT/LIGHT BACKGROUND
background-color: #F1F2E2;
  color:#2C2F32;

  LIGHT TEXT/DARK BACKGROUND
background-color: #2C2F32;
  color:#F1F2E2;




*/






  nav{
     background-color: #7AC142; 
    

  }
body{
  font-family: 'Open Sans';
  color: #F1F2E2;
  background-color: #2C2F32;
}
  .dark-overlay{
    background-color: rgba(21, 21, 22, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
  }
  .big-fact{
    font-size: 90px;
    padding: 10%;
  
  }

.header-row h1{
  padding-top: 30vh;
  width: 100%;
  font-size: 64px;

}
#first-panel-text{
  padding-top: 5%;
  padding-bottom: 5%;
}
 #first-panel-header{
  text-transform: capitalize;
  
} 
.btn-outline-primary{
  margin-top: 10%;
 border-color: #7AC142;
color: #7AC142;
opacity: 1;
padding: 15px;



}
.thread-button-row{
  padding-top: 5vh;
}
.thread-landing{
  padding-top: 15vh;
  
}
.btn-outline-primary:hover{
  color: #fbfbfb;
  background-color: #7AC142;
  border-color: #7AC142;
  opacity: 1;
}
.button-row{

  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 30vh;
  opacity: 1;
}

.respect-wrapper{
  
  height: 100vh;
  background-color: #F1F2E2;
  color:#2C2F32;
  
}
.responsibility-wrapper{
  height: 100vh;
 
}
.who-we-are-wrapper{

  margin-bottom: 15vh;
  height:70vh;
  background-color: #dbdb9b;
 
}
.purpose-wrapper{
  
  height: 100vh;
  background-color: #F1F2E2;
  color:#2C2F32;
}
.contribution-wrapper{
  padding: 10%;
  height:100vh;

}
.about-us-wrapper{
  margin-top: 15vh;
  padding-bottom: 15vh;
  height:70vh;
  background-color: #fbfbfb;
}
.gallery-wrapper{
  
  background-color: #fbfbfb;
}
.what-can-you-do-wrapper{
  padding: 10%;
  height:50vh;
  background-color: #fbfbfb;
}
.footer{
  height: 10vh;
  background-color:#2C2F32; 
}
.btn-primary{
  background-color: #4cc0a0;
  border-color: #4cc0a0;

  
}
.btn-primary:hover{
  background-color: #399179;
  border-color: #399179;
}
.title{
  color: white;
  font-size: xx-large;
  font-variant: bold;
  
}

.first-panel{
background-attachment: fixed;
background-size: cover;
color: #fbfbfb;
height: 100vh;
}